/*
This makes the width of the signin always 330 pixels until the window or device
is smaller than that. Setting the max width and making the margins automatics
cetners all the elements in this form. The padding of 15 px adds a 15 px buffer
between content and the border of any element.
*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/*
This changes the font-size and the amount of padding around content. The box
sizing: border-box makes an element's border dimensions equal to the elements'
set height and width.
*/
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/*
These add spacing and also rounding to specific places to give the
text fields a more streamlined look.
*/
.form-signin #inputUsername {
  margin-top: 10px;
  margin-bottom: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #inputPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
